<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DnD Character Sheet</title>
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main id="character-sheet">
    <form class="charsheet" method="POST" action="{{ if .Name }}/update/{{ .Name }}{{ else }}/create{{ end }}">

      <header>
        <section class="charname">
          <label for="charname">Character Name</label>
          <input name="charname" id="charname" placeholder="Thoradin Fireforge" value="{{ .Name }}">
        </section>

        <section class="misc">
          <ul>
            <li>
              <label for="race">Race</label>
              <input name="race" id="race" placeholder="Half-elf" value="{{ .Race }}">
            </li>
            <li>
              <label for="classlevel">Class & Level</label>
              <input name="classlevel" id="classlevel" placeholder="Paladin 2" value="{{ .Class }} {{ .Level }}">
            </li>
            <li>
              <label for="background">Background</label>
              <input name="background" id="background" placeholder="Acolyte" value="{{ .Background }}">
            </li>
            <li>
              <label for="proficiencybonus">Proficiency Bonus</label>
              <input name="proficiencybonus" id="proficiencybonus" placeholder="+2" value="{{ .ProficiencyBonus }}">
            </li>
          </ul>
        </section>
      </header>

      <section id="scores">
        <div class="score">
          <label for="strength">STR</label>
          <input name="strength" id="strength" value="{{ .Strength }}">
        </div>
        <div class="score">
          <label for="dexterity">DEX</label>
          <input name="dexterity" id="dexterity" value="{{ .Dexterity }}">
        </div>
        <div class="score">
          <label for="constitution">CON</label>
          <input name="constitution" id="constitution" value="{{ .Constitution }}">
        </div>
        <div class="score">
          <label for="intelligence">INT</label>
          <input name="intelligence" id="intelligence" value="{{ .Intelligence }}">
        </div>
        <div class="score">
          <label for="wisdom">WIS</label>
          <input name="wisdom" id="wisdom" value="{{ .Wisdom }}">
        </div>
        <div class="score">
          <label for="charisma">CHA</label>
          <input name="charisma" id="charisma" value="{{ .Charisma }}">
        </div>
      </section>

      <footer>
        <button type="submit">
          {{ if .Name }}Update Character{{ else }}Create Character{{ end }}
        </button>
      </footer>
    </form>
  </main>
</body>
</html>
